<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="../css/home.css">
	</head>
	<body>
		<nav>
	    		<ul>
        			<li><a href="/">Home</a></li>
	        		<li><a href="/about">About</a></li>
        			<li><a href="/cv">CV</a></li>
        			<li><a href="/blog">Blog</a></li>
    			</ul>
		</nav>

		<div class="container">
    			{{ content }}
		</div><!-- /.container -->

		<footer>
    			<ul>
        			<li><a href="mailto:liujianqiao39870@gmail.com">Email</a></li>
        			<li><a href="https://github.com/liujq">Github</a></li>
			</ul>
		</footer>
	</body>
</html>
