<!DOCTYPE html>
<html>
	<head>
		{% include base.html %}
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ base }}/assets/css/default.css">
	</head>
	<body>
		<nav>
	    		<ul>
        			<li><a href="{{ base }}">Home</a></li>
	        		<li><a href="{{ base }}/about">About</a></li>
        			<li><a href="{{ base }}/cv">CV</a></li>
        			<li><a href="{{ base }}/blog">Blog</a></li>
    			</ul>
		</nav>

		<div class="container">
    			{{ content }}
		</div><!-- /.container -->

		<footer>
    			<ul>
        			<li><a href="mailto:liujianqiao39870@gmail.com">Email</a></li>
        			<li><a href="https://github.com/liujq">Github</a></li>
			</ul>
		</footer>
	</body>
</html>
